<form action="/todos/{{ todo._id }}?_method=PUT" method="POST">
  <input type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}}>
  <input type="text" placeholder="修改內容" name="name" value="{{ todo.name }}"></input>
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>
